<div class="card">
        <div class="card-image">
          <!-- <figure class="image is-4by3">
            <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure> -->
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <!-- <figure class="image is-48x48">
                <img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure> -->
            </div>
            <div class="media-content">
              <!-- <p class="title is-4">John Smith</p>
              <p class="subtitle is-6">@johnsmith</p> -->
            </div>
          </div>
      
          <div class="content">
          <div class="column">
            <span class=""> <h3 class="has-text-centered">{{ description }}</h3></span>
              </div>
          </div>    
        </div>
    </div>