<div class="columns">
  <div class="column">
    <div class="kanban-header">
      <div class="card">
        <div class="kanban-text-container"> <span class="kanban-text">Backlog</span></div>
    </div>
  </div>

  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  </div>
  <div class="column">
    <div class="kanban-header">
      <div class="card">
          <div class="kanban-text-container"> <span class="kanban-text">Pending</span></div>
    </div>
  </div>

  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  </div>
  <div class="column">
    <div class="kanban-header">
      <div class="card">
        <div class="kanban-text-container"> <span class="kanban-text">Completed</span></div>
    </div>
  </div>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  <app-kanbancard></app-kanbancard>
  </div>
</div>