<div class="columns">
  <div class="column">
        <article *ngIf="serviceError.error" class="message is-danger">
        <div class="message-body">
          Issue cant be loaded for a moment. {{ serviceError.message }}
        </div>
      </article>
  </div>
</div>

<div class="columns">
    <div class="column">
        <div class="field has-addons is-pulled-left">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select name="country">
                  <option value="Argentina">Bug</option>
                  <option value="Bolivia">Enhancement</option>
                  <option value="Brazil">Issue</option>
                </select>
              </div>
            </div>
            <div class="control">
              <button type="submit" class="button is-danger">Filter</button>
            </div>
          </div>

        <a class="button is-success is-pulled-right" (click)="toggleModal()"> New issue</a>
    </div>
</div>

<div class="columns">
  <div class="column">
      <div class="kanban-header">
          <div class="card">
            <div class="kanban-text-container"> <span class="kanban-text">Issues</span></div>
        </div>
      </div>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
      <app-issuecard issue="{description: 'testing'}"></app-issuecard>
  </div>
</div>

<div class="modal" [class.is-active]="modalToggleState">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create new Issue</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <form [formGroup]="issueFormGroup" novalidate>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="text" formControlName="project" placeholder="Project">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>

              <div class="field">
              <p class="control has-icons-left has-icons-right">
                  <input class="input" type="text" formControlName="issue" placeholder="Title">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                  <p class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Assign to">
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fa fa-check"></i>
                      </span>
                    </p>
                  </div>

              <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea class="textarea" formControlName="description" placeholder="Textarea"></textarea>
                  </div>
                </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button" (click)="toggleModal()">Cancel</button>
      </footer>
    </div>
  </div>
