<div class="card">
    <div class="card-image">
  
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
        
        </div>
        <div class="media-content">
            <p class="is-pulled-left"><a>Some description</a></p>
            <p class="is-pulled-right"> <span class="tag is-warning">Warning</span> <span class="tag is-danger">Bug</span> <span class="tag is-info">Enhancement</span></p>
        </div>
      </div>
  
      <div class="content">
          <span class=""> <h3 class="has-text-centered">{{ issue.description}}</h3></span>
      </div>    
    </div>
</div>