<div class="columns">
    <div class="column">
            <app-simplecard description="Issues 109"></app-simplecard>   
    </div>
    <div class="column">
            <app-simplecard description="Tasks 109"></app-simplecard>   
    </div>
    <div class="column">
            <app-simplecard description="Pending 109"></app-simplecard>   
    </div>
    <div class="column">
            <app-simplecard description="Completed 109"></app-simplecard>   
    </div> 
</div>

<div class="columns">
    <app-listview slot="rimau"></app-listview>
</div>